@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  color: black;
  background-color: #83d987;
  padding: 0.5em;
  border: none;
  border-radius: 2px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #9094a2;
}

.nav-desktop ul,
.btn-account-desktop {
  display: none;
}

ul li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
  background-color: #020b2b;
}
nav a:hover{
  color: #1f9f82;
}

#nav-phone {
  background-color: #020b2b;
  padding: 20px;
  border-radius: 2px;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  box-shadow: 2px 2px 10px #83d987;
}

#hamburger {
  color: white;
  cursor: pointer;
}

.nav-phone {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("assets/images/photos/hero-background.png");
  background-size: cover;
  padding: 2em;
}

.section1 h1{
  color: white;
  font-size: 48px;
  text-align: center;
}

.section1 p{
  color: #9094a2;
  text-align: center;
}

.explore{
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  gap: 10px;
}

.explore input{
  padding: 10px;
  border: none;
  background-color: #F7F7F9;
  width: 90%;
}

.explore #location-input{
  flex: 2;
}
.explore button{
  flex: 1;
}

.section2 img{
  width: 20em;
  border-radius: 2em;
}

.sec2-deco1{
  display: flex;
  gap: 20px;
  background-color: white;
  border-radius: 1rem;
  padding: 20px;
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: start;
}

.sec2-deco1 h2{
  color: #83d987;
}

.deco-img>p{
  display: flex;
  padding: 20px;
  background-color: #F5D35C;
  border-radius: 1em;
  width: 100px;
  position: absolute;
  right: 220px;
  top: 350px;
}

.section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/images/photos/features-background.png");
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 2em;
  gap: 20px;
}

.section2 article{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.deco-desc>div{
  display: flex;
  text-align: justify;
  gap: 10px;
  align-items: center;
}

.section3 img{
  width: 180px;
}

.number{
  background-color: #E7E5F9;
  padding: 1em;
  border-radius: 2em;
  color: #5944A6;
  font-weight: 500;
}

.deco-desc{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec2-card{
  display: flex;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.sec2-card> div{
  padding: 10px;
}

.sec2-card p{
  color: #9094a2;
}

.sec2-card> div:nth-child(2){
  border-left: 1px solid #9094a2;
  border-right: 1px solid #9094a2;
}

.section3{
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sec3-title p{
  font-weight: 100;
}

.sec3-title a{
  cursor: pointer;
}

.sec3-title{
  display: flex;
  flex-direction: column;
}

.cardProduct-img{
  display: flex;
  position: relative;
}

.cardProduct-img p{
  padding: 1em;
  background-color: white;
  position: absolute;
  border-radius: 0px 0px 2em 0px;
  color: #5944A6;
}

.cardProduct-img img{
  border-radius: 1em;
}

.cardProduct-desc h2{
  font-size: smaller;
}

.cardProduct-desc p{
  font-size: smaller;
  color: #9094a2;
}

.cardProduct-desc h1{
  font-size: smaller;
  color:  #1f9f82;
}

.cardProduct-desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section3 article{
  width: 180px;
}

.product-container{
  display: flex;
  gap: 20px;
  /* width: 100vw; */
  overflow-x: auto;
}

.product-container::-webkit-scrollbar{
  display: none;
}

aside{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #020b2b;
  color: white;
  padding: 2em;
}

aside>div{
  text-align: center;
}

.signUp-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90vw;
}

.signUp-form input{
  width: 99%;
  height: 30px;
}

footer{
  margin: 2em;
  font-size: small;
  color: #9094a2;
  text-align: center;
}


@media screen and (min-width: 1001px){
  .nav-desktop ul{
    display: flex;
    gap: 2em;
  }

  .btn-account-desktop{
    display: block;
  }

  .nav-phone{
    display: none;
  }

  .section1 h1, .section1 p{
    text-align: start;
  }

  .section2 article{
    flex-direction: row;
  }

  .deco-img>p{
    left: 28%;
    top: 63%;
  }

  .sec2-card> div{
    padding-left: 4em;
    padding-right: 4em;
  }
  .sec3-title{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section3 article{
    width: 300px;
  }
  .section3 img{
    width: 300px;
  }
  .cardProduct-desc h2{
    font-size: larger;
  }
  
  .cardProduct-desc p{
    font-size: larger;
  }
  
  .cardProduct-desc h1{
    font-size: larger;
  }
  aside{
    flex-direction: row;
  }
}

